@import "../vars";
@import "../queries";

.Events-content {
  background: $highlight-color;
  padding: 30px 0px;
}

.Events-cards {
  width: 100%;
}

.Events-cardContainer {
  width: 48%;
  margin: 1% 1%; 
  display: inline-block;

  @media #{$query-mobile} {
    width: 100%;
    margin: 1% 0;
  }
}