@import "../vars";
@import "../fonts";
@import "../queries";

.Navbar-bar {
  height: $navbar-height;
  background: #fff;
  position: fixed;
  z-index: 500;
  width: 100%;
  border-bottom: thin solid #E7E7E7;
}

.Navbar-logo {
  line-height: $navbar-height;
  text-decoration: none;
  color: #000;
  @include whitney-condensed-black();
  font-size: 34px;
}

.Navbar-navItem {
  line-height: $navbar-height;
  padding: 0px 10px;
  @include whitney-bold();
  font-size: 18px;
  color: #d3d3d3;
  display: inline-block;

  @media #{$query-mobile} {
    font-size: 14px;
    padding: 0px 6px;
  }
}

.Navbar-navItem:hover {
  color: #000;
}

.Navbar-nav {
  float: right;
}
