@import "../vars";
@import "../fonts";
@import "../queries";

.Navbar-bar {
  height: $navbar-height;
  background: #fff;
  position: fixed;
  z-index: 500;
  width: 100%;
  border-bottom: thin solid #E7E7E7;
}

.Navbar-logo {
  line-height: $navbar-height;
  text-decoration: none;
  color: #000;
  @include whitney-condensed-black();
  font-size: 34px;
}

$navbar-item-height: 40px;
$navbar-item-height-mobile: 35px;

.Navbar-navItem {
  height: $navbar-height;
  padding: ($navbar-height - $navbar-item-height) / 2 10px;
  display: inline-block;

  @media #{$query-mobile} {
    padding: ($navbar-height - $navbar-item-height-mobile) / 2 2px;
  }

  &.Navbar-navItem--highlight {
    padding-left: 15px;
  }
}

.Navbar-navItem-inner {
  @include whitney-bold();
  font-size: 18px;
  color: #d3d3d3;
  padding: ($navbar-item-height - 18px) / 2;
  transition: all 0.2s ease-in-out;

  @media #{$query-mobile} {
    font-size: 14px;
    padding: ($navbar-item-height-mobile - 14px) / 2;
  }

  .Navbar-navItem:hover & {
    color: $highlight-color;
  }
}

.Navbar-navItem--highlight .Navbar-navItem-inner {
  background: $highlight-color;
  color: #fff;
}

.Navbar-navItem--highlight:hover .Navbar-navItem-inner {
  color: #fff;
  background: darken($highlight-color, 15%);
}

.Navbar-navItem:hover {
  color: #000;
}

.Navbar-nav {
  float: right;
}

.Navbar-bar--home .Navbar-logo {
  display: none;
}
