@import "fonts";
@import "vars";

:global {
  body {
    @include archer-medium();
    font-size: 18px;
    color: #000;
  }
}

a {
  color: $highlight-color;
}

p {
  @include archer-medium();
  font-size: 24px;
  line-height: 1.2;
}

h2 {
  @include whitney-black();
  font-size: 18px;
  line-height: 1.2;
}
